@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: rgb(238, 236, 236);
  --teal-color: teal;
  --teal-bg-color: rgba(0, 128, 128, 0.215);
  
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  color: black;
  background-color: var(--primary-color);
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
}



.active-btn{
  color: var(--teal-color);
 
  background-color: var(--teal-bg-color);
}

.buttons{
  display: flex;
}
